---
interface Props {
	title: string;
	tagline?: string;
	serial: string;
}
const { title, tagline, serial } = Astro.props;
---

<header class='grid-overlay py-8 px-6 md:py-16 md:px-14 space-y-4 border-b border-line'>
	<p class='serial text-orange'>{serial}</p>
	<div>
		<h1 class='font-display font-black text-[clamp(4rem,6vw,7.5rem)] text-off-white leading-none'>
			{title}
		</h1>
		{tagline && <p class='font-display font-semibold text-orange tracking-widest text-2xl'>{tagline}</p>}
	</div>
</header>
