---
import SectionLayout from "../../layouts/SectionLayout.astro";
---

<SectionLayout title='Grid Overlay' description='Technical Grid'>
	<div class='grid-overlay bg-black border border-line flex items-center justify-center' style='aspect-ratio:16/5;'>
		<span class='font-display font-black text-[clamp(1.5rem,4vw,3rem)] text-off-white tracking-wider'>
			TECHNICAL GRID // 48PX
		</span>
	</div>
</SectionLayout>
